<hr>

{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <div style="clear:both;">
        <form method="post" action="{{ success_url }}">
          {% include 'includes/form/_form.html' %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Сохранить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}

<h5>Комментарии:</h5>
{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h6 class="mt-0">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
      </h6>
      <p>{{ comment.text }}</p>
    </div>
  </div>
{% endfor %}