{% extends "base.html" %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="m-3">Стек технологий</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Текст страницы "Технологии"</p>
    </article>
  </div>
</div>
{% endblock %}
