{% extends 'users/base_user.html' %}

{% block title %}
  {% if post.pk %}
    Редактировать запись
  {% else %}
    Добавить запись
  {% endif %}
{% endblock %}

{% block card_header %}
  {% if post.pk %}
    Редактировать запись
  {% else %}
    Добавить запись
  {% endif %}
{% endblock %}

{% block card_body %}
  {% include 'includes/form/_errors.html' %}
  <form method="post"
        action="{{ success_url }}" enctype="multipart/form-data">
    {% include 'includes/form/_form.html' %}
    <div class="col-md-6 offset-md-4">
      {% if post.pk %}
        <button type="submit" class="btn btn-primary">
          Сохранить
        </button>
          <a href="{% url 'posts:post_delete' post.pk %}"
             class="btn btn-danger">
          Удалить
          </a>
      {% else %}
        <button type="submit" class="btn btn-primary">
          Добавить
        </button>
      {% endif %}
    </div>
  </form>
{% endblock %}
