{% extends 'posts/base_detail.html' %}

{% block title %}
  Записи сообщества {{ group }}
{% endblock %}

{% block aside %}
  <h2>{{ group.title }}</h2>
  <p>{{ group.description }}</p>
{% endblock %}

{% block article %}
  {% for post in object_list %}
    {% include 'includes/post/_post_info.html' %}
    {% include 'includes/post/_post.html' %}
    {% include 'includes/post/_post_after.html' %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/_paginator.html' %}
{% endblock %}
