{% extends 'posts/base_detail.html' %}

{% block title %}
  Пост {{ post }}
{% endblock %}

{% block aside %}
    <h3>{{ post.author.get_full_name }}</h3>
    <a href="{% url 'posts:profile' post.author.username %}"
       style="color: grey; text-underline-mode: none">
      @{{ post.author.username }}
    </a>
    <p>
      Статей: {{ post.author.posts.count }}
    </p>
  {% if post.group %}
    Группа:
    <a href="{% url 'posts:group_list' post.group.slug %}"
       style="text-underline-mode: none">
      {{ post.group }}
    </a>
  {% endif %}
{% endblock %}

{% block article %}
  {% load thumbnail %}
  {% thumbnail post.image "960x339" crop="center" upscale=False as im %}
    <img class="card-img my-2" src="{{ im.url }}" alt="photo">
  {% endthumbnail %}
  <p>{{ post.text }}</p>
  {% include 'includes/post/_post_detail_after.html' %}
  {% include 'includes/post/_comment.html' %}
{% endblock %}
