{% extends 'posts/base_detail.html' %}

{% block title %}
  Пост {{ post }}
{% endblock %}

{% block aside %}
  <h2>{{ post.author.get_full_name }}</h2>
  <a href="{% url 'posts:profile_detail' post.author.username %}"
     class="mb-3" style="color: grey; text-decoration: none">
    @{{ post.author.username }}
  </a>
  <p>
    Статей: {{ post.author.posts.count }}
</p>
  {% if post.group %}
    Группа:
    <a href="{% url 'posts:group_detail' post.group.slug %}"
       style="text-decoration: none">
      {{ post.group }}
    </a>
  {% endif %}
{% endblock %}

{% block article %}
  {% include 'includes/post/_post.html' %}
  {% include 'includes/post/_post_after.html' %}
  {% include 'includes/post/_comment.html' %}
{% endblock %}
