{% extends "users/base_user.html" %}

{% block title %}
  Сброс пароля
{% endblock %}

{% block card_header %}
  Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
{% endblock %}

{% block card_body %}
  {% include 'includes/form/_errors.html' %}
  <form method="post" action="{{ success_url }}">
    {% include 'includes/form/_form.html' %}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Сбросить пароль
      </button>
    </div>
  </form>
{% endblock %}
