{% extends "users/base_user.html" %}

{% block title %}
  Новый пароль
{% endblock %}

{% block card_header %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    Ошибка
  {% endif %}
{% endblock %}

{% block card_body %}
  {% if validlink %}
    {% include 'includes/form/_errors.html' %}
    <form method="post" action="{{ success_url }}">
      {% include 'includes/form/_form.html' %}
      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Назначить новый пароль
        </button>
      </div>
    </form>
  {% else %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endif %}
{% endblock %}
